<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SqliteManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF918CD11CE1D39A00336682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF918CEA1CE1D39B00336682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF918CF51CE1D39B00336682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
